.tabs-seasons {
  @apply z-10;
  &.grid-mode:deep(.q-tabs__content) {
    @apply flex-wrap absolute top-0 left-0 w-full z-9999 text-gray-300;
  }
  &.grid-mode {
    @apply h-full overflow-y-auto;
  }
  &.grid-mode:deep(.q-tab) {
    @apply whitespace-normal text-center w-full;
  }
}
.panels-seasons {
  &:deep(.q-panel) {
    &::-webkit-scrollbar {
      width: 12px;
      background-color: transparent;
      height: 12px;
    }

    &::-webkit-scrollbar-corner {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #323232;
      transition: background 0.2s ease-in-out;
      border: 3px solid transparent;
      background-clip: content-box;
      // background-color: #e5e7eb;
      border-radius: 9999px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }
  }
}
