root = true

[*.{kt,kts}]
ktlint_code_style = android_studio
indent_size = 2
ktlint_standard_import-ordering = disabled
continuation_indent_size = 2
max_line_length = off
ktlint_standard_annotation-location = disabled
ktlint_standard_parameter-list-wrapping = disabled
ktlint_standard_argument-list-wrapping = disabled
ktlint_standard_parameter-wrapping = disabled
ktlint_standard_binary-expression-wrapping = disabled
ktlint_standard_multiline-expression-wrapping = disabled
ktlint_standard_statement-wrapping = disabled
ij_kotlin_variable_annotation_wrap = off
ij_kotlin_parameter_annotation_wrap = off
ij_kotlin_field_annotation_wrap = off
ij_kotlin_method_parameters_wrap = off
ij_kotlin_assignment_wrap = off
ij_kotlin_keep_simple_methods_in_one_line = true
ktlint_standard_function-naming = disabled
ktlint_standard_package-name = disabled
ktlint_standard_property-naming = disabled
ij_kotlin_allow_trailing_comma = false
ij_kotlin_allow_trailing_comma_on_call_site = false
