hls-module.js linguist-vendored
src/logic/hls-module.js linguist-vendored
dha-release.wasm linguist-language=webassembly
src/logic/dha/main.js linguist-language=webassembly
cordova-plugin-screen-orientation/www/screenorientation.js linguist-language=typescript
cordova.js linguist-language=typescript
cordova_plugins.js linguist-language=typescript

src-capacitor/ios/App/App/public/cordova_plugins.js linguist-vendored
src-capacitor/ios/App/App/public/plugins/cordova-plugin-screen-orientation/www/screenorientation.js linguist-vendored