// app global css in SCSS form

body {
  --q-dark-page: rgb(17, 19, 25);
}

.c--main,
.text-main {
  color: rgb(0, 194, 52);
}

.\!text-main {
  color: rgb(0, 194, 52) !important;
}

.bg-dark-page {
  background-color: var(--q-dark-page, #121212) !important;
}

.bg-main {
  background-color: rgb(0, 194, 52) !important;
}

.children\:before\:block > *:before {
  display: block !important;
}

.scrollbar-custom {
  &::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
    height: 12px;
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #323232;
    transition: background 0.2s ease-in-out;
    border: 3px solid transparent;
    background-clip: content-box;
    // background-color: #e5e7eb;
    border-radius: 9999px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}
