// app global css in SCSS form
* {
  user-select: none;
}

.c--main,
.text-main {
  color: rgb(0, 194, 52);
}

.bg-dark-page {
  background-color: var(--q-dark-page, #121212) !important;
}

.bg-main {
  background-color: rgb(0, 194, 52) !important;
}
