// app global css in SCSS form
* {
  user-select: none;
}

.c--main,
.text-main {
  color: rgb(0, 194, 52);
}

.bg-dark-page {
  background-color: var(--q-dark-page, #121212) !important;
}

.bg-main {
  background-color: rgb(0, 194, 52) !important;
}

.q-card {
  box-shadow: 0 0 24px 12px rgba(0, 0, 0, 0.15);
  // box-shadow: 0 16px 24px 2px rgb(0 0 0 / 14%), 0 6px 30px 5px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 40%)
}

.q-card.rounded-xl {
  border-radius: 0.75rem !important;
}
